{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}{{ movie.title }}{% endblock %}
{% block content %}
    <div class="row align-items-start justify-content-md">
        <div class="col-auto">
            <img src="{{ movie.poster_path }}" alt="" height="500">
        </div>
        <div class="col">
            <div>
                <h2>{{ movie.title }}</h2>
                <hr class="my-2">
                <p><i class="fas fa-calendar-alt"></i> {{ movie.release_year }}</p>
                <p><i class="fas fa-star-half-alt"></i> {{ movie.mark }}</p>
                {% if not rated %}
                    <form method="post">
                        {% csrf_token %}
                        {% for hidden in forms.mark.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in forms.mark.visible_fields %}
                            <div class="mb-3">
                                <label for="{{ field.html_name }}" class="form-label">{{ field.label }}</label>
                                {#            {{ field.field.widget.input_type }}#}
                                {% if field.field.widget.input_type == "checkbox" %}
                                    {{ field |add_class:"form-check-input" }}
                                {% else %}
                                    {{ field |add_class:"form-control" }}
                                {% endif %}

                                <div class="form-text">{{ field.help_text }}</div>
                                <div class="form-text">{{ field.errors }}</div>

                            </div>
                        {% endfor %}

                        <input type="submit" class="btn btn-primary btn-lg w-100" value="Submit">
                    </form>
                {% endif %}
                <p><i class="fas fa-film"></i> {% for genre in movie.genres.all %}
                    <a href="{% url "movies:by_genres" %}?genres={{ genre.id }}"
                       class="btn btn-outline-dark btn-sm">{{ genre.title }}</a>
                {% endfor %}</p>
                <p><i class="fas fa-info-circle"></i> {{ movie.description }}</p>

                <p>
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                            data-bs-target="#addToListModal">
                        <i class="fas fa-plus-circle"></i> Add movie {{ movie.title }} to list
                    </button>
                </p>

            </div>
        </div>
    </div>
    {% if series %}
        <h2>Movies from this series:</h2>
        <hr class="my-4">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for movie in series %}
                <div class="col">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ movie.poster_path }}" class="img-fluid"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">
                                <a href="{{ movie.get_absolute_url }}">
                                    {{ movie.title }}
                                </a>
                            </h5>
                            <hr class="my-2">
                            <div class="container">
                                <div class="row justify-content-md">
                                    <div class="col col-2">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="col">
                                        Release year:
                                    </div>
                                    <div class="col">
                                        {{ movie.release_year }}
                                    </div>
                                </div>
                                <div class="row justify-content-md">
                                    <div class="col col-2">
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                    <div class="col">
                                        User rating:
                                    </div>
                                    <div class="col">
                                        {{ movie.mark }}
                                    </div>
                                </div>

                                <div class="row justify-content-md">
                                    <div class="col col-2">
                                        <i class="fas fa-film"></i>
                                    </div>
                                    <div class="col">
                                        Movie genres:
                                    </div>
                                </div>

                                <hr class="my-2">
                                <div>
                                    {% for genre in movie.genres.all %}
                                        <a href="{% url "movies:by_genres" %}?genres={{ genre.id }}"
                                           class="btn btn-outline-dark btn-sm">
                                            {{ genre.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <br class="my-4">
    <h2>Comments:</h2>
    <hr class="my-2">
    <form method="post">
        {% csrf_token %}
        {% for hidden in forms.comment.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in forms.comment.visible_fields %}
            <div class="mb-3">
                <label for="{{ field.html_name }}" class="form-label">{{ field.label }}</label>
                {#            {{ field.field.widget.input_type }}#}
                {% if field.field.widget.input_type == "checkbox" %}
                    {{ field |add_class:"form-check-input" }}
                {% else %}
                    {{ field |add_class:"form-control" }}
                {% endif %}

                <div class="form-text">{{ field.help_text }}</div>
                <div class="form-text">{{ field.errors }}</div>

            </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary btn-lg w-100" value="Submit">
    </form>
    <br class="my-2">
    <div class="list-group">
        {% for comment in movie.movies_comment_related.all %}

            <div class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.user.username }}</h5>
                    <small>{{ comment.created_datetime }}</small>
                </div>
                <p class="mb-1">{{ comment.message }}</p>
            </div>
        {% endfor %}
    </div>



    <div class="modal fade" id="addToListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url "movies:add_to_list" movie.id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="select-list" class="col-form-label">Select list:</label>
                            <select class="form-select form-select-lg mb-3" name="select-list">
                                {% for movies_list in movies_lists %}
                                    <option value="{{ movies_list.id }}">{{ movies_list.title }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-primary btn-lg">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}